# Environment
.env
.env.local

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Database
*.db
instance/*.db

# Virtual environment
venv/
ENV/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log